.navbar{
  background-color: rgb(255, 252, 252);
  color: red;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.divtwoone{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.divtwoone button{
  background-color: brown;
  padding: 10px 15px;
  position: absolute;
  border: 0;
  top: 0;
  bottom: 0;
  right: 0;
  


}